.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.currentText {
  /*border-radius: 10%;
  border-color: azure;
  background-color: white;
  */
}

.pressedKey{
  color: #61dafb;
  position: absolute;
  top: 60%;
  font-size: calc(10px + 4vmin);
}

.keyPressAnimClass
{
  animation-name: keyPressAnim;
  animation-duration: 0.5s;
}

/* The animation code */
@keyframes keyPressAnim {
  0%   {  font-size: calc(10px + 6vmin);}
  100%    {  font-size: calc(10px + 4vmin);}
}